html {
  font-family: 'Chewy';
  font-size: 1.1em;
  letter-spacing: 2px;
  height: 100%;
  background: linear-gradient(#000099, #000033);
  background-attachment: fixed;
}

header {
  margin: 0 auto;
  color: #f2f2f2;
  text-align: center;
  font-size: 2em;
}

#backBanner {
  position: absolute;
  margin: 225px auto;
  width: 100%;
  height: 100px;
  background: green;
  z-index: -10;
}

#justTemp {
  text-align: center;
}

#tempShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px auto 25px;
  background: linear-gradient(135deg, #d9d9d9, #737373);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  animation: fadein .75s;
}

#tempShow p {
  margin: 0;
}

#units {
  width: 130px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  color: #f2f2f2;
  background: rgb(57, 198, 57);
  border-radius: 5px;
}

#units:hover {
  transition: background-color .25s;
  cursor: pointer;
  background-color: rgb(34, 119, 34);
}

@media only screen and (min-width: 692px) {
    #tempShow {
      width: 400px;
      height: 400px;
      border-radius: 100%;
    }
  }

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* @keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 46.5%;
  }
} */
