html {
  font-family: 'Chewy';
  font-size: 1.1em;
  letter-spacing: 2px;
  height: 100%;
  background: linear-gradient(#000099, #000033);
  background-attachment: fixed;
}

header {
  margin: 0 auto;
  color: #f2f2f2;
  text-align: center;
  font-size: 2em;
}

#justTemp {
  text-align: center;
}

#tempShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px auto 25px;
  background: linear-gradient(135deg, #d9d9d9, #737373);
  border-radius: 10px 10px 10px 10px;
}

#tempShow p {
  margin: 0;
}

#units {
  width: 130px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  color: #f2f2f2;
  background: rgb(57, 198, 57);
  border-radius: 5px;
}

#units:hover {
  transition: background-color .25s;
  cursor: pointer;
  background-color: rgb(34, 119, 34);
}

@media only screen and (min-width: 692px) {
    #tempShow {
      width: 400px;
      height: 400px;
      border-radius: 100%;
    }
  }
